/* Estilo geral do site */
body {
    font-family: Arial, sans-serif;
    text-align: center; /* Adicionado para centralizar todos os elementos */
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
    min-height: 100vh;
}

body.light-mode {
    background: linear-gradient(to bottom, #cbd0db, #f0f0f0); /* Adicionado gradiente */
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;
}

body.dark-mode {
    background: linear-gradient(to bottom, #3c414b, #252525); /* Adicionado gradiente */
    color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

#container {
    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode #container {
    background-color: #fff;
}

body.dark-mode #container {
    background-color: #1d1d1d;
}

/* Estilo dos inputs e botões */
input, textarea, button {
    outline: none;
    padding: 10px;
    margin: 10px;
    width: 70%;
    border-radius: 5px; /* Bordas arredondadas */
    display: block; /* Adicionado para centralizar os inputs e botões */
    margin-left: auto; /* Adicionado para centralizar os inputs e botões */
    margin-right: auto; /* Adicionado para centralizar os inputs e botões */
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

#container #mode-toggle {
    width: 10%; /* Removido o !important e adicionado um seletor mais específico */
}

body.light-mode input, body.light-mode textarea {
    background-color: #fff;
    color: #333;
    border: #6495ed 0.4px solid;
}

body.dark-mode input, body.dark-mode textarea, body.dark-mode button {
    background-color: #444;
    color: #f0f0f0;
    border: #858fa3 0.4px solid;
}

input[type=checkbox] + label {
    margin-left: 8px;
}



button {
    cursor: pointer;
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode button {
    background-color: #6495ed; /* Cor de fundo dos botões no modo claro */
    color: #fff;
}

body.dark-mode button {
    background-color: #445f94; /* Cor de fundo dos botões no modo escuro */
    color: #fff;
}

button:hover {
    background-color: #4169e1;
}

body.dark-mode button:hover {
    background-color: #8499c4;
}
