/* Estilo geral do site */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
    min-height: 100vh;
}

body.light-mode {
    background: linear-gradient(to bottom, #637eb8, #ffffff);
    color: #202020;
    background-size: cover;
    background-repeat: no-repeat;
}

body.dark-mode {
    background: linear-gradient(to bottom, #293d64, #161616);
    color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

#container {
    border-radius: 2%;
    width: 100%;
    max-width: 19em;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.5s ease;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.11);
}


@media (min-width: 600px) {
    #container {
        width: 60%;
    }
}

@media (min-width: 900px) {
    #container {
        width: 40%;
    }
}

body.light-mode #container {
   background-color:  rgba(255, 255, 255, 0.521);
}

body.dark-mode #container {
   background-color: rgba(10, 10, 10, 0.507);
}

/* Estilo dos inputs e botões */
input, textarea, button {
    outline: none;
    padding: 10px;
    margin: 10px;
    width: 70%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

#mode-toggle {
    font-size: 1em;
    position: fixed;
    top: 80px;
    right: 14px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 0.5s linear;
}

#mode-toggle i {
    margin: auto;
    font-size: 20px;
}

body.light-mode input, body.light-mode textarea {
    background-color: #fff;
    color: #333;
    border: #6495ed 0.4px solid;
}

body.dark-mode input, body.dark-mode textarea, body.dark-mode button {
    background-color: #444;
    color: #f0f0f0;
    border: #858fa3 0.4px solid;
}

input[type=checkbox] + label {
    margin-left: 8px;
}

button {
    cursor: pointer;
    transition: background-color 0.5s ease;
}

body.light-mode button {
    background-color: #6495ed;
    color: #fff;
}

body.dark-mode button {
    background-color: #445f94;
    color: #fff;
}

button:hover {
    background-color: #4169e1;
}

body.dark-mode button:hover {
    background-color: #8499c4;
}
