#mode-toggle {
    font-size: 1em;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
    display: flex; /* Adicionado para usar flexbox */
    justify-content: center; /* Adicionado para alinhar o ícone horizontalmente */
    align-items: center; /* Adicionado para alinhar o ícone verticalmente */
}

#mode-toggle i {
    margin: auto;
    font-size: 20px;
}



/* Estilo geral do site */
body {
    font-family: Arial, sans-serif;
    text-align: center; /* Adicionado para centralizar todos os elementos */
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
    min-height: 100vh;

}

body.light-mode {
    background: linear-gradient(to bottom, #cbd0db, #f0f0f0); /* Adicionado gradiente */
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;

}

body.dark-mode {
    background: linear-gradient(to bottom, #3c414b, #252525); /* Adicionado gradiente */
    color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo geral da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    transition: background-color 0.5s ease, color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode table {
    background-color: #fff;
    color: #333;
}

body.dark-mode table {
    background-color: #444;
    color: #f0f0f0;
}

th, td {
    padding: 10px;
    text-align: left;
    transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode th, body.light-mode td {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

body.dark-mode th, body.dark-mode td {
    border: 1px solid #858fa3;
    background-color: #444;
    color: #f0f0f0;
}

th {
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode th {
    background-color: #acb5c5; /* azul centáurea */
}

body.dark-mode th {
    background-color: #858fa3; 
}

tr:nth-child(even) {
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode tr:nth-child(even) {
    background-color: #f0f8ff; /* aliceblue */
}

body.dark-mode tr:nth-child(even) {
    background-color: #555; /* um cinza mais escuro para contraste */
}

tr:hover {
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode tr:hover {
    background-color: #b0e0e6; /* pó azul */
}

body.dark-mode tr:hover {
    background-color: #666; /* um cinza ainda mais escuro para contraste */
}

/* Estilo do botão de baixar */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode button {
    background-color: #6495ed; /* Cor de fundo dos botões no modo claro */
    color: #fff;
}

body.dark-mode button {
    background-color: #445f94; /* Cor de fundo dos botões no modo escuro */
    color: #fff;
}

button:hover {
    transition: background-color 0.5s ease; /* Adicionado para suavizar a transição entre os modos */
}

body.light-mode button:hover {
    background-color: #4169e1;
}

body.dark-mode button:hover {
    background-color: #8499c4;
}

/* Tamanho padrão da fonte do html */
html {
    font-size: 16px;
}

/* Tamanho da fonte do html para telas menores que 600px */
@media (max-width: 600px) {
    html {
        font-size: 20px;
    }
}

/* Tamanho da fonte do html para telas maiores que 1200px */
@media (min-width: 1200px) {
    html {
        font-size: 24px;
    }
}

/* Tamanho da fonte dos elementos em relação ao html */
h1 {
    font-size: 2rem; /* 32px no padrão, 40px no pequeno, 48px no grande */
}

p {
    font-size: 1rem; /* 16px no padrão, 20px no pequeno, 24px no grande */
}

button {
    font-size: 1.2rem; /* 19.2px no padrão, 24px no pequeno, 28.8px no grande */
}


input{
    margin: 10px;
}

#container {
    width: 10%; /* Removido o !important e adicionado um seletor mais específico */
}

/* Adicione o código abaixo ao seu arquivo estilos.css */

/* Defina um estilo para o container de login */
#login-container {
    /* Centralize o container horizontalmente */
    margin: 0 auto;

    /* Defina uma largura máxima para o container */
    max-width: 400px;

    /* Adicione uma borda e um espaçamento interno para o container */
    border: 1px solid #ccc;
    padding: 20px;

    /* Centralize o container verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Defina um estilo para os campos de entrada */
#email, #senha {
    /* Faça os campos ocuparem toda a largura disponível */
    width: 100%;

    /* Adicione uma borda e um espaçamento interno para os campos */
    border: 1px solid #ccc;
    padding: 10px;

    /* Adicione uma margem inferior para separar os campos */
    margin-bottom: 10px;
}

/* Defina um estilo para o botão de login */
#botao-login {
    /* Faça o botão ocupar toda a largura disponível */
    width: 100%;

    /* Adicione uma cor de fundo e uma cor de texto para o botão */
    background-color: #007bff;
    color: white;

    /* Adicione uma borda e um espaçamento interno para o botão */
    border: none;
    padding: 10px;

    /* Adicione um efeito de cursor para o botão */
    cursor: pointer;
}
